services:
  messageboard:
    build: .
    ports:
      - "4000:4000"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./data:/opt/messageboard/data
      - ./uploads:/opt/messageboard/uploads
